<!-- 
					END OF HOME

					START FILM -->

		</div>
		<!-- film body html will be iserted here -->
		<div id="filmSpot">  <div class="jumbotron" id="filmBanner" class="modalContainer" 
  ng-style="{'background-image': 'url(' + currentFilm.img + ')'}">
  <h1 id= "filmBannerTitle"> </h1>
  <!-- <p>...</p> -->
 </div>



 <!-- collapsible accordion start  -->
		

		 <div class="accordion"  >
		 
			  	<h4 ng-click="acordionSelect(0)">Summary</h3>

					<div ng-if="accordionIndex == 0">
				  		<p>{{currentFilm.summary}}</p>

					</div>

				<h4  ng-click="acordionSelect(1)">About {{currentFilm.director.name}}</h3>
					
					<div ng-if="accordionIndex == 1">
				  		<p>{{currentFilm.director.about}}</p> 
				  	</div> 		

				<h4 ng-click="acordionSelect(2)">Cast</h3>

					<div ng-if="accordionIndex == 2">
					    <p>{{currentFilm.cast}}</p>
					</div>
			
		 </div>

 <!-- collapsible accordion end  -->
 </div>


		<!-- body html will be iserted here (old function)-->
		<div id="bodySpot"></div>



			<!-- END OF FILM DISPLAY -->