 

					<!--Angular carousel-->



			
					<div class="jumbotron" id="homeBanner" class="modalContainer" 
						  ng-style="{'background-image': 'url(' + homeFilm.img + ')'}">
						  <h1> Japanese Cinema </h1>
						  <p>{{homeFilm.name}}</p>
					 </div>




					 







					<!--END CAROUSEL-->

					<!--START JUMBOTRON -->


			            <div class="jumbotron" id="main-jumbo">
			            <div class="container" id="sign-up">


			            <!-- FORMVIEW DROPDOWN -->

			                <div id="angDropdown">
			                	<select ng-model="selectedForm" ng-init=" selectedForm = forms[0]" >
			                		<option ng-repeat="x in forms" value="{{x}}">{{x}}</option>
			                	 </select>
			                </div>



			               
			               <!--  END OF DROPDOWN -->


			                <div id="formSpot">


			                	<div id="formSpotMessage"></div>

						            <div id="formHolder">

						          



						            <!-- If  ng-if formview == 1 show this -->
												<div ng-show="selectedForm == forms[1]"  class ="formContainer filmListForm " id='newDirectorCont'>

													<form id='newDirector' method='post' action='#' onsubmit="checkMyForm(); return false;">

														<h3>New Director</h3>

														
												        <input id='directorName' name='directorName' ng-model="newDirName" placeholder='Name'>



														<textarea id = 'about' name='about' ng-model="newDirAbout" placeholder='About this director'></textarea>

														<button type="button" id='addDirectorButton' ng-click="newDir()">Add director</button>

													</form>
												</div>
										<!-- If  ng-if formview == 2 show this -->
												<div ng-show="selectedForm == forms[2]" class ="formContainer filmListForm " id='addFilmCont'>
													

														<h3>New Film</h3>

														
														<select ng-model="directorSelect" >
															<option value="" disabled selected>Director</option>
			                								<option ng-repeat="x in directors" value="{{x.name}}">{{x.name}}</option>
																																							
															<!-- <div class="directorSelectList"></div> -->
										  				</select>



														<!-- name is how the infromation will be identidfied when you get data from the form -->
												        <input id='filmName' name='filmName' placeholder='Name' ng-model='addFilmName'>

												        <textarea id = "summaryField" name="summaryField" form="newFilm" placeholder='Write a summary for this film' ng-model='addFilmSummary'></textarea>

												        <textarea id="castField" name="castField" form="newFilm" placeholder='Cast' ng-model='addFilmCast'></textarea>
														
														<select id= "decadeSelect" name="decadeSelect" ng-model='decadeSelect'>
															<option value="" disabled selected>Decade</option>
															<option ng-repeat="x in decades" value="{{x}}">{{x}}'s</option> 
																	
										  				</select>
														
										  				<input id='imgLink' name='imgLink' placeholder='Image Link' ng-model='addFilmImg'>


														<button type="button" id='addFilmButton' ng-click="newFilm()" >Add Film</button>

													
												</div>

										<!-- If  ng-if formview == 3 show this -->
												
												<div ng-show="selectedForm == forms[3]" class ="formContainer filmListForm" id='deleteCont'>
													

														<h3>Delete Film or Director</h3>
														<!-- name is how the infromation will be identidfied when you get data from the form -->
														<div class="deleteDiv">
															

													        <select ng-model="directorSelectDel" >
													        	<option value="" disabled selected>Director</option>
				                								<option ng-repeat="x in directors" value="{{x.name}}">{{x.name}}</option>
																																								
											  				</select>
											  				<button type="button"  ng-click="deleteDirector()">Delete Director</button>
											  			</div>
														
														
														

														<div class="deleteDiv">
															

															<select ng-model="filmSelectDel" >
																<option value="" disabled selected>Film</option>
				                								<option ng-repeat="x in films" value="{{x.name}}">{{x.name}}</option>
																																								
																<!-- <div class="directorSelectList"></div> -->
											  				</select>
											  				<button type="button"  ng-click="deleteFilm()">Delete Film</button>
											  			</div>

														
													

												</div>

										<!-- If  ng-if formview == 4 show this -->




												<div ng-show="selectedForm == forms[4]" class ="formContainer filmListForm" id='editCont'>
													

														<h3>Edit film</h3>

													
														<select ng-model="filmSelectEdit" >
															<option value="" disabled selected>Film to Edit</option>
			                								<option ng-repeat="x in films" value="{{x}}">{{x.name}}</option>                									
																																																						
										  				</select>

										  				<button type="button" id='loadFilmButton' ng-click="loadFilmEdit()" >Load Film</button>


														
														<select ng-model="directorSelectEdit" >
															<option value="" disabled selected>Director</option>
			                								<option ng-repeat="x in directors" value="{{x.name}}">{{x.name}}</option>
																																							
															<!-- <div class="directorSelectList"></div> -->
										  				</select>



														<!-- name is how the infromation will be identidfied when you get data from the form -->
												        <input id='filmName' name='filmName' placeholder='Name' ng-model='filmNameEdit'>

												        <textarea id = "summaryField" name="summaryField" form="newFilm" placeholder='Write a summary for this film' ng-model='FilmSummaryEdit'></textarea>

												        <textarea id="castField" name="castField" form="newFilm" placeholder='Cast' ng-model='filmCastEdit'></textarea>
														
														<select id= "decadeSelect" name="decadeSelect" ng-model='decadeSelectEdit'>
															<option value="" disabled selected>Decade</option>
															<option ng-repeat="x in decades" value="{{x}}">{{x}}'s</option> 
																		
										  				</select>
														
										  				<input id='imgLink' name='imgLink' placeholder='Image Link' ng-model='FilmImgEdit'>


														<button type="button" id='editFilmButton' ng-click="editFilm()">Save Changes</button>



													

												</div>

								</div>

			                </div>
			            </div>
			        </div>


					<!--END JUMBOTRON -->
<!-- 
					END OF HOME
